section, div{
    /* border: 2px solid blue; */
    margin: 10px;
    padding: 10px;
    display: flex;
    flex: 1;
    gap: 5px;
}

div:nth-child(1){
    flex: 2;
}

body{
    background-color: #fff;
    font-family: Arial;
}

.services{
    font-size: 18px;
    color: #474545;
    line-height: 78px;
}
.logo{
    color: crimson;
    font-weight: 900;
    font-size: 50px;
    line-height: 78px;
}

.button{
    background-color: crimson;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 25px;
    line-height: 32px;
    font-weight: bold;
}

select {
    border: none;
}

select{
    border: 5px solid white;
}